.event {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.current {
  composes: event;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}
