.timer {
  font-size: 2.5rem;
  letter-spacing: -.025em;
  color: white;
  font-weight: 100;
  text-align: center;
}

.container {
  height: 100vh;
}

.paused {
  background: linear-gradient(to top, #4CB8C4, #3CD3AD);
}

.running {
  background: linear-gradient(to top, #fd746c ,#ff9068);
}

.titleBarItem {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  cursor: default;
}
